* {
  margin: 0;
  padding: 0;
}

.agenda, .agendab, .agency, .agencyb {
  font-weight: normal;
  font-style: normal;
}

body {
  background: #003c7c;
}

#imagebank {
  z-index: -1;
  position: absolute;
}

.preloader, .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  color: white;
}

.modal {
  display: none;
}

.preloader .bg, .modal .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #003c7c;
}

.modal .bg {
  background: black;
  opacity: 0.9;
}

.preloader .content-wrap, .modal .content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preloader .content {
  width: 80%;
  margin: 20% auto 0 auto;
  position: relative;
}

.preloader .content .progressbar {
  width: 100%;
  border: 3px solid white;
  border-radius: 15px;
  height: 50px;
}

.preloader .content .progressbar span {
  background: white;
  display: block;
  height: 100%;
  opacity: 0.6;
}

.preloader .content p {
  font-size: 50px;
  text-align: center;
}

.modal .closebtn {
  color: #e3e3e3;
  font-size: 40px;
  float: right;
  margin: 15px 25px 0 0;
  text-decoration: none;
}

.modal .closebtn:hover {
  color: white;
}

.modal .headline {
  width: 80%;
  margin: 0 auto;
}

.modal .headline h2 {
  text-align: center;
  font-size: 50px;
}

.modal .content {
  width: 80%;
  margin: 0 auto;
}

.modal iframe {
  margin: 0 auto;
  display: block;
  position: relative;
}

.container, .bookmark {
  display: none;
}

.bookmark {
  width: 100%;
  height: 192px;
  z-index: 100;
  position: absolute;
  padding-top: 250px;
}

.bookmark .tip {
  width: 162px;
  height: 192px;
  margin: 0 auto;
}

.bookmark.young .tip {
  background: url('../img/ui/bookmark-young.png') no-repeat;
  background-position: bottom center;
}

.bookmark.old .tip {
  background: url('../img/ui/bookmark-old.png') no-repeat;
  background-position: bottom center;
}

.container {
  width: 100%;
  position: absolute;
}

section {
  width: 100%;
}

section.dark {
  color: white;
  background: #003c7c;
}

section.light {
  color: #003c7c;
  background: white;
}

.window .asset {
  display: none;
}

.float {
  float: left;
}

.headings {
  width: 90%;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.h {
  width: 66%;
}

.headings h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 15px;
}

.headings h2 {
  color: #809ebe;
  text-align: center;
  letter-spacing: 15px;
}

.headings h2 span {
  border-top: 1px solid #809ebe;
  padding-top: 15px;
}

.overlay-timeline {
  height: 66px;
  width: 100%;
  background: url(../img/ui/timeline.png) repeat-y;
  background-position: top center;
}

.timeline {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.dark .timeline {
  background: url(../img/ui/timeline.png) repeat-y;
  background-position: top center;
}

.light .timeline {
  background: url(../img/ui/timeline-dark.png) repeat-y;
  background-position: top center;
}

.point {
  position: relative;
  margin: 0 auto;
}

.point.free {
  position: absolute;
}

.point .o {
  position: relative;
  top: 38px;
  clear: both;
}

.point .leash {
  height: 3px;
  width: 30%;
  margin-top: 45px;
}

.dark .point .leash {
  background: white;
}

.point .leash {
  background: #003c7c;
}

.point.left .content, .point.right .content {
  width: 60%;
}

.point.free .content {
  width: 100%;
  color: white;
}

.dark .point .content {
  border: 3px solid white;
}

.light .point .content {
  border: 3px solid #003c7c;
}

.point.free .content {
  border: 3px solid white;
}

.point.left .o {
  float: right;
}

.point.right .o {
  float: left;
}

.point.left .leash {
  float: right;
}

.point.right .leash {
  float: left;
}

.point.left .content {
  float: right;
}

.point.right .content {
  float: left;
}

.point .content h3 {
  font-size: 30px;
  margin: 0;
  padding: 10px 0 0 10px;
}

.point .content p {
  padding: 10px;
  margin: 0;
}

.timeline .year {
  position: absolute;
  width: 100%;
  text-align: right;
}

.dark .timeline .year {
  color: #265990;
}

.light .timeline .year {
  color: #d9e2eb;
}

.timeline .year span {
  display: block;
}

.prop {
  position: absolute;
  z-index: 5;
}

.prop.left {
  float: left;
}

.prop.right {
  float: right;
}

.quote-wrapper {
  position: relative;
}

.quote {
  text-align: center;
  line-height: 2;
  padding: 100px 0;
  background: #003c7c;
  color: white;
  z-index: 999;
  position: absolute;
}

.quote blockquote {
  width: 70%;
  margin: 0 auto;
}

.quote span {
  width: 70%;
  display: block;
  margin: 0 auto;
  font-style: italic;
}

#s11 .quote {
  background: white;
  color: #003c7c;
}

.awards {
  clear: both;
  position: relative;
  margin: 0 auto;
}

.awards .graphic, .awards .award {
  float: left;
}

.awards .graphic img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.awards .award {
  position:relative;
}

.awards .award .name {
  position: absolute;
  border: 1px solid #809ebe;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.awards .award .name h3 {
  color: #809ebe;
  text-align: center;
}

.awards .award .label {
  position: absolute;
  background: #809ebe;
  color: #003c7c;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-179deg);
  transform: rotateY(-179deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.awards .award p {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.clear {
  clear: both;
}

iframe {
  z-index: 101;
  position: absolute;
}

.congrats {
  font-size: 150px;
  text-align: center;
  position: absolute;
  top: 21000px;
  width: 100%;
  overflow: hidden;
}

.congrats .line1, .congrats .line2 {
  position: relative;
  margin: 0;
}

#s1 .leadin {
  font-style: italic;
  text-align: center;
  width: 100%;
  clear: both;
  padding: 0 0 0 0;
  margin-top: 50px;
}

#s6 {
  position: relative;
}

#s7 {
  height: 1100px;
}

#s10 {
  height: 987px;
}

#y09 {
  padding: 50px 0 0 0;
}

#y10 {
  padding: 100px 0 0 0;
}

.video-embed {
  background: #003c7c;
  overflow: hidden;
}

.video-container a {
  position: relative;
  width: 100%;
  display: block;
  opacity: 0.7;
  text-align: center;
}

.video-container a:hover {
  opacity: 0.9;
}

.linemates div {
  position: absolute;
  width: 50%;
  text-align: right;
  z-index: 1000;
}

.linemates .left {
  left: 0;
  text-align: right;
}

.linemates .right {
  right: 0;
  text-align: left;
}

.linemates div img {
  padding: 0 85px;
}

.top-share {
  position: fixed;
  right: 0;
  background: black;
  opacity: 0.8;
  z-index: 10000;
  padding: 10px;
  color: white;
  display: none;
}

.top-share p {
  margin: 0;
  padding: 0;
}

.top-share a {
  color: white;
}

.bottom-share {
  font-size: 50px;
  width: 500px;
  background: #003c7c;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  top: 1000px;
}

.bottom-share a {
  color: white;
  font-size: 100px;
}

.bottom-share a:hover {
  color: #ededed;
}

#p16 {
  color: #003c7c;
}

#p21 {
  position: absolute;
}