* {
  margin: 0;
  padding: 0;
}

body {
  background: #003c7c;
}

#imagebank {
  display: none;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  color: white;
}

.preloader .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #003c7c;
  opacity: 0.8;
}

.preloader .content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preloader .content {
  width: 80%;
  margin: 20% auto 0 auto;
  position: relative;
}

.preloader .content .progressbar {
  width: 100%;
  border: 3px solid white;
  border-radius: 15px;
  height: 50px;
}

.preloader .content .progressbar span {
  background: white;
  display: block;
  height: 100%;
  opacity: 0.6;
}

.preloader .content p {
  font-size: 50px;
  text-align: center;
}

.container, .bookmark {
  display: none;
}

.bookmark {
  width: 100%;
  height: 192px;
  z-index: 100;
}

.bookmark.pin {
  position: absolute;
}

.bookmark.move {
  position: fixed;
  top: 300px;
}

.bookmark .tip {
  width: 162px;
  height: 192px;
  margin: 0 auto;
}

.bookmark .tip.young {
  background: url('../img/ui/bookmark-young.png') no-repeat;
  background-position: bottom center;
}

.bookmark .tip.old {
  background: url('../img/ui/bookmark-old.png') no-repeat;
  background-position: bottom center;
}

.bookmark-marker {
  width: 100%;
  height: 1px;
}

.container {
  width: 100%;
}

section {
  width: 100%;
}

section.dark {
  color: white;
  background: #003c7c;
}

section.light {
  color: #003c7c;
  background: white;
}

.window {

}

.window .asset {
  display: none;
}

.float {
  float: left;
}

.headings {
  width: 90%;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.h {
  width: 66%;
}

.headings h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 15px;
}

.headings h2 {
  color: #809ebe;
  text-align: center;
  letter-spacing: 15px;
}

.headings h2 span {
  border-top: 1px solid #809ebe;
  padding-top: 15px;
}

.overlay-timeline {
  height: 66px;
  width: 100%;
  background: url(../img/ui/timeline.png) repeat-y;
  background-position: top center;
}

.timeline {
  height: 100%;
  width: 100%;
}

.dark .timeline {
  background: url(../img/ui/timeline.png) repeat-y;
  background-position: top center;
}

.light .timeline {
  background: url(../img/ui/timeline-dark.png) repeat-y;
  background-position: top center;
}

.timeline .point {
  width: 49%;
  position: relative;
}

.timeline .point.left {
  float: left;
  margin-left: 1.4%;
}

.timeline .point.right {
  float: right;
  margin-right: 1.4%;
}

.timeline .point .o {
  position: relative;
  top: 38px;
}

.timeline .point .leash {
  height: 3px;
  width: 30%;
  margin-top: 45px;
}

.dark .timeline .point .leash {
  background: white;
}

.timeline .point .leash {
  background: #003c7c;
}

.timeline .content {
  width: 60%;
}

.dark .timeline .content {
  border: 3px solid white;
}

.light .timeline .content {
  border: 3px solid #003c7c;
}

.timeline .point.left .o {
  float: right;
}

.timeline .point.right .o {
  float: left;
}

.timeline .point.left .leash {
  float: right;
}

.timeline .point.right .leash {
  float: left;
}

.timeline .point.left .content {
  float: right;
}

.timeline .point.right .content {
  float: left;
}

.timeline .content h3 {
  font-size: 30px;
  margin: 0;
  padding: 10px 0 0 10px;
}

.timeline .content p {
  padding: 10px;
  margin: 0;
}

.timeline .year {
  position: absolute;
  width: 100%;
  text-align: right;
}

.dark .timeline .year {
  color: #265990;
}

.light .timeline .year {
  color: #d9e2eb;
}

.timeline .year span {
  display: block;
}

.timeline .prop {
  position: absolute;
  display: none;
}

.clear {
  clear: both;
}

iframe {
  z-index: 101;
  position: absolute;
}

#s2, #s3, #s4, #s5 {
  height: 1500px;
}

#s1 .leadin {
  font-style: italic;
  text-align: center;
  width: 100%;
  clear: both;
  padding: 0 0 0 0;
  margin-top: 50px;
}

#t1 {
  top: 100px;
}

#t2 {
  top: 100px;
}

#t3 {
  top: 500px;
}

#t4 {
  top: 800px;
}

#t5 {
  top: 100px;
}

#t6 {
  top: 500px;
}

#t7 {
  top: 800px;
}

#y09 {
  padding: 50px 0 0 0;
}

#y10 {
  padding: 100px 0 0 0;
}

#p01 {
  right: 20px;
}

#p02 {
  top: 2900px;
  height: 525px;
  display: block;
}

#p02 .xo-22 {
  background: url('../img/props/xo-22.png') no-repeat;
  background-position: bottom center;
  width: 303px;
  height: 0;
  position: absolute;
  bottom: 0;
  background-size: cover;
}

#p02 .xo-33 {
  background: url('../img/props/xo-33.png') no-repeat;
  background-position: bottom center;
  width: 303px;
  height: 0;
  position: absolute;
  bottom: 0;
  background-size: cover;
}

#p03 {
  right: -686px;
  top: 3480px;
}

#p05 {
  top: 5600px;
}