@-ms-viewport {
  width: device-width;
}

.clearfix {
  *zoom: 1;
}

@media (max-width: 419px) {

}

@media (min-width: 420px) and (max-width: 767px) {
  
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (min-width: 1520px) {
  .bookmark.young.pin {
    top: 1200px;
  }
  
  .bookmark.young.park {
    top: 5340px;
  }
  
  .bookmark.old.pin {
    top: 7050px;
  }
  
  .bookmark.old.park {
    top: 5400px;
  }
  
  .numbers {
    font-size: 500px;
  }
  
  .headings h1 {
    font-size: 160px;
    padding: 57px 0 0 0;
  }
  
  .headings h2 {
    font-size: 160px;
    margin: 0;
    padding: 20px 0 0 0;
  }
  
  .leadin {
    font-size: 20px;
  }
  
  .timeline .year {
    font-size: 400px;
  }
  
  .quote-wrapper {
    height: 520px;
  }
  
  .video-embed {
    height: 1100px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .video-container {
    width: 2500px;
    height: 1406px;
    margin: 0 auto;
  }
  
  video {
    width: 100%;
    height: 100%;
  }
  
  #s7 .timeline, #s10 .timeline {
    margin-top: -1100px;
    position:relative;
  }
  
  #p02 {
    width: 606px;
    height: 525px;
  }
  
  #p02 .xo-22, #p02 .xo-33 {
    width: 303px;
  }
  
  #p02 .xo-22 {
    margin: 0 0 0 203px;
  }
  
  #p03 {
    width: 686px;
    height: 542px;
  }
  
  #p04 {
    right: 3%;
  }
  
  #p05 {
    top: 4300px;
  }
  
  #p06 {
    top: 4776px;
    right: 0;
  }
  
  #p07 {
    top: 7500px;
    left: 5%;
  }
  
  #p08 {
    top: 7200px;
    right: 5%;
  }
  
  #p09 {
    top: 7840px;
    right: 0;
  }
  
  #p10 {
    top: 10100px;
    left: 5%;
  }
  
  #p11 {
    top: 9800px;
    right: 5%;
  }
  
  #p12 {
    top: 10600px;
    right: 0;
  }
  
  #p13 {
    top: 10600px;
    left: 5%;
  }
  
  #p14 {
    top: 11500px;
    left: 5%;
    z-index: 1100;
  }
  
  #p15 {
    top: 11750px;
    left: 0;
    z-index: 1101;
  }
  
  #p16 {
    top: 11952px;
    right: 0;
  }
  
  #trigger02-clipping {
    position: absolute;
    top: 2350px;
  }
  
  #trigger08-parkyoung {
    position: absolute;
    top: 5100px;
  }
  
  #trigger09-toggleoldbookmark {
    position: absolute;
    top: 6900px;
  }
  
  #trigger05-firstgoal {
    position: absolute;
    top: 3700px;
  }
  
  #trigger06-markus {
    position: absolute;
    top: 4250px;
  }
  
  #trigger07-cutout {
    position: absolute;
    top: 4650px;
  }
  
  #trigger10-allstarpic {
    position: absolute;
    top: 7450px;
  }
  
  #trigger11-andre {
    position: absolute;
    top: 7000px;
  }
  
  #trigger12-allstarcutout {
    position: absolute;
    top: 7450px;
  }
  
  #trigger13-0119 {
    position: absolute;
    top: 9500px;
  }
  
  #trigger14-a {
    position: absolute;
    top: 10000px;
  }
  
  #trigger15-swedes {
    position: absolute;
    top: 10500px;
  }
  
  #trigger16-hospital {
    position: absolute;
    top: 11500px;
  }
  
  #trigger17-sign {
    position: absolute;
    top: 11600px;
  }
  
  #trigger18-assists {
    position: absolute;
    top: 11860px;
  }

}

@media (min-width: 980px) and (max-width: 1519px) {
  .bookmark.young .pin {
    top: 1280px;
  }
  
  .numbers {
    font-size: 300px;
  }
  
  .headings h1 {
    font-size: 110px;
    padding: 35px 0 0 0;
  }
  
  .headings h2 {
    font-size: 113px;
    margin: 0;
    padding: 13px 0 0 0;
  }
  
  .leadin {
    font-size: 20px;
  }
  
  .timeline .year {
    font-size: 250px;
  }
  
  #p02 {
    width: 406px;
    height: 346px;
  }
  
  #p02 .xo-22, #p02 .xo-33 {
    width: 203px;
  }
  
  #p02 .xo-22 {
    margin: 0 0 0 203px;
  }
  
  #p03 {
    top: 3861px;
  }
  
  #p03, #p03 img {
    width: 343px;
    height: 271px;
  }
  
  #p04 {
    left: 50px;
    top: 4700px;
  }
  
  #trigger02-clipping {
    position: absolute;
    top: 2150px;
  }
  
  #trigger03-xo {
    position: absolute;
    top: 2800px;
  }
  
  #trigger09-toggleoldbookmark {
    position: absolute;
    top: 6900px;
  }
}