@-ms-viewport {
  width: device-width;
}

.clearfix {
  *zoom: 1;
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (min-width: 1520px) {
  .numbers {
    font-size: 500px;
  }
  
  .headings h1 {
    font-size: 180px;
    padding: 57px 0 0 0;
  }
  
  .headings h2 {
    font-size: 187px;
    margin: 0;
    padding: 20px 0 0 0;
  }
  
  .leadin {
    font-size: 20px;
  }
  
  .timeline .year {
    font-size: 400px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 979px) {

}

@media (min-width: 980px) and (max-width: 1519px) {
  .numbers {
    font-size: 300px;
  }
  
  .headings h1 {
    font-size: 110px;
    padding: 35px 0 0 0;
  }
  
  .headings h2 {
    font-size: 113px;
    margin: 0;
    padding: 13px 0 0 0;
  }
  
  .leadin {
    font-size: 20px;
  }
}